*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    background-color:#FFE794;
}

.nav-menu {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-icon{
    width: 50px ;
    height: 30px;
    display: flex;
    padding-top: 10px;
}

header .nav{
    display: flex;
    flex-direction: row;
}

.tittle{
    display: flex;
    justify-content: center;
    align-items: center;
}

.your-to-do{
    display: flex;
    flex-direction: row;
}

.title{
    display: flex;
    
}

.your-to-do h2{
    display: flex;
    align-items: center;
    justify-content: center;
}

main{
    display: flex;
}

.side-bar{
    background-color: #FFFBEF;
    width: 20%;
    display: flex;
    flex-direction: column;
    min-height: 1000px;
}

.side-bar-tittle{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px ;
}

.new-project{
    display: flex;
    align-items: center;
    justify-content: center;
}

#new-project-form{
    display: flex;
    flex-direction: column;
    width: 80%;
    justify-content: center;
}

#new-project-input{
    height: 30px;
    padding-left: 15px;
    border-radius: 10px;
    margin: 10px 0 10px 0;
}

#new-project-submit{
    height: 30px;
    border-radius: 10px;
    border: none;
    background-color: rgba(244.37, 208.02, 137.46, 0.40);
    box-shadow: 0px 2px 8px rgba(205.06, 205.06, 205.06, 0.25)
}

/* .new-project button{
    width: 80%;
    height: 30px;
    border-radius: 10px;
    border: none;
    background-color: rgba(244.37, 208.02, 137.46, 0.40);
    box-shadow: 0px 2px 8px rgba(205.06, 205.06, 205.06, 0.25)
} */

.project-list{
    width: 80%;
    height: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 10px;
    border: none;
    background-color: rgba(244.37, 208.02, 137.46, 0.40);
    margin-top: 20px;
}

.project-space{
    display: flex;
    justify-content: center;
}

#project{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.project-content input{
    outline: none;
    border: none;
    background-color:#FBEAC7;
    width: 50%;
    padding-left: 10px;
}

.project-action{
    display: flex;
    margin-right: 10px;
    flex-direction: row;
}


.project-action button{
    background-color: #FBEAC7;
    border: none;
    margin-left: 5px;
}

/* .project-list {
    width: 80%;
    height: 30px;
    border-radius: 10px;
    border: none;
    background-color: rgba(244.37, 208.02, 137.46, 0.40);
    margin-top: 10px;
    box-shadow: 0px 2px 8px rgba(205.06, 205.06, 205.06, 0.25)
} */




/* start-content */

.content{
    width: 80%;
    display: flex;
    flex-direction: column;
    background-color: #FFE1BD;
}

.content h2{
    display: flex;
    justify-content: center;
    margin: 20px;
}

#new-to-do button{
    width: 90%;
    height: 30px;
    border-radius: 10px ;
    border: none;
    background-color:  #F8CA94;
    font-size: 18px;
}

#new-to-do{
    display: flex;
    justify-content: center;
    margin: 0px 0px 20px 0px;
    width: 100%;
}

#form-new-to-do input{
    width: 90%;
    height: 30px;
    border-radius: 10px ;
    border: none;
    background-color:  #F8CA94;
    font-size: 18px;
}

/* #new-to-do-submit{
    width: 90%;
    height: 30px;
    border-radius: 10px ;
    border: none;
    background-color:  #F8CA94;
    font-size: 18px;
} */


.to-do-space{
    display: flex;
    justify-content: center;
    width: 100%;
}

.priority-item label{
    display: flex;
    justify-content: center;
    padding: 7px;
    height: 30px;
    background-color: #FAA136;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.priority-item{
    display: flex;
    flex-direction: column;
    width: 90%;
}

.priority-item button{
    height: 30px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border: none;
    background-color: #FEFFDF;
}

.new-to-do-list{
    display: flex;
    justify-content: center;
    display: hidden;
}

#new-to-do-option{
    /* display: flex;
    flex-direction: column; */
    display: none;
    position: absolute;
    width: 50%;
    background-color: #FFD7A7;
    border-radius: 10px;
    justify-content: center;
}

.new-to-do-option-title{
    display: flex;
    justify-content: center;
    margin: 10px;
}

.new-todo-date, .new-todo-input, .add-new-todo, .todo-decription{
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.new-todo-input input, .new-todo-date input, .add-new-todo input, .todo-decription input{
    width: 80%;
}

.new-todo-date input, .new-todo-input input{
    border: none;
    background-color: #FFD7A7;
    border-bottom: 1px solid black;
    height: 30px;
    outline: none;
}

.todo-decription textarea{
    padding: 10px;
    outline: none;
    resize: none;
    border: none;
    border-radius: 10px;
    width: 80%;
    height: 120px;
    background-color: rgba(123, 123, 123, 0.33);
}

.add-new-todo{
    margin-bottom: 20px;
    height: 30px;
    border: none;

}

.add-new-todo input{
    background-color: #7FDB88;
    border: none;
    border-radius: 10px;
}



